<!--footer-->
<div class="footer">
    <div class="footer-block vertical-space-between">
        <div class="footer-block-line hide-for-landscape"></div>
        <div class="footer-block-line bottom-line"></div>
        <div>
            <a href="https://gscloudnetwork.com" class="footer-logo-link w-inline-block"><img src="/MEDIA/GS Network/12.svg" loading="lazy" alt="Logo" class="logo" /></a>
            <p>We love to hear from you!</p>
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="newsletter-form">
                    <input type="email" class="text-field text-field-no-margin w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="E-MAIL" id="email-2" required="" /><input type="submit" value="Send" data-wait="Please wait..." class="button newsletter-button w-button"
                    /></form>
                <div class="success-message-newsletter w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="error-message w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
        <div class="bottom-wrapper">
            <p class="small-margin-bottom">Powered by <a href="https://gscloudnetwork.com" target="_blank" class="white-link">GSCloud Network</a></p>
            <p class="no-margin-bottom">Hosting <a href="https://gsconnect.live" target="_blank" class="white-link">GS Connect</a></p>
        </div>
    </div>
    <div class="footer-block vertical-space-between">
        <div class="footer-block-line hide-for-tablet"></div>
        <div class="footer-block-line bottom-line"></div>
        <div>
            <div class="section-header">
                <div class="label">
                    <h5>GS Design </h5>
                    <p> Digital Marketing</p>
                </div>
            </div>
            <div class="footer-2-col-grid">
                <div class="footer-links">
                    <a data-w-id="8f503e26-d46a-75fc-15e5-bb38ac76b300" href="/GSD/Who We Are/about.html" class="footer-link w-inline-block">
                        <div>Who<strong> We Are</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="d1e00d40-61e0-f5f2-2a5d-042c88fe3ee6" href="/GSD/What We Do/portfolio-2.html" class="footer-link w-inline-block">
                        <div>What<strong> We Do</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="71719cbc-f1ff-74c1-212b-00458c860386" href="/GSD/Who We Work With/intro.html" class="footer-link w-inline-block">
                        <div>Who<strong> We Work With</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="15766673-b4f6-c001-243d-08de36d00423" href="/GSD/Contact/book-a-call.html" class="footer-link w-inline-block">
                        <div>Contact <strong>Us</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="9a466675-1402-e06f-9bc2-8a3731123b9b" href="/Blog/blog.html" class="footer-link w-inline-block">
                        <div>GS<strong> Blog</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>

                </div>
                <div class="footer-links">
                    <a data-w-id="49d71b4b-629a-5dd6-b298-aa4e521b9fc8" href="/GSD/What We Do/Marketing/about.html" class="footer-link w-inline-block">
                        <div>Digital<strong> Marketing</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="ae591f28-9a35-e276-c9c4-9b019d7f0818" href="/GSD/What We Do/Marketing/DataAnalitycs/about.html" class="footer-link w-inline-block">
                        <div data-w-id="ae591f28-9a35-e276-c9c4-9b019d7f0819"></div>
                        <div>Data<strong> Analytics</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="c9df789d-ba68-7896-4ebd-547ac72471d2" href="/GSD/What We Do/WebDev/about.html" class="footer-link w-inline-block">
                        <div>Web<strong> Development</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="3801329f-7fc9-45f4-12bf-011ea1e04aab" href="/GSD/What We Do/SocialM/about.html" class="footer-link w-inline-block">
                        <div>Social Media<strong> Management</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                    <a data-w-id="dc979093-b6ae-e06e-a0c9-c6c0d47c0628" href="/GSD/What We Do/Strategy/consult.html" class="footer-link w-inline-block">
                        <div>Strategy<strong> Foundation</strong></div>
                        <div class="footer-link-hover"></div>
                        <div class="footer-link-hover dark-line"></div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="bottom-wrapper">
                <p class="small-paragraph no-margin-bottom">Copyright © GS Design. <br />All rights reserved.
                </p>
            </div>
        </div>
    </div>
    <div id="w-node-f7b2a0c2-2571-5b56-1ff1-8b58931c21b5-931c2171" class="footer-block">
        <div class="section-header">
            <div class="label">Contact</div>
        </div>
        <div class="label-small small-margin-bottom">Address</div>
        <p>Blvd Diaz Ordaz 811 A1<br> Anzures,Puebla, MX 72530</p>
        <div class="label-small small-margin-bottom">Telegram</div>
        <p><a href="#" class="footer-contact-link">Link</a></p>
        <div class="label-small small-margin-bottom">E-mail</div>
        <p><a href="mailto:gsdesign@gscloudnetowrk.com" class="footer-contact-link">gsdesign@gscloudnetwork.com</a></p>
        <div class="label-small small-margin-bottom">Socials</div>
        <div class="socials left-social-align">
            <a data-w-id="cfe3af96-bd22-4c2f-86b7-d105af899f0b" href="https://www.Instagram.com/gsdesign7/" target="_blank" class="social-box left-social-box w-inline-block"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c44a77e5ca2e017c67_5fb410854861eda4ec030b2f_Group%202%201.svg" loading="lazy" alt="" class="social-icon" /></a>
            <a data-w-id="cfe3af96-bd22-4c2f-86b7-d105af899f0d" href="https://www.instagram.com/gsdesign4/" target="_blank" class="social-box left-social-box w-inline-block"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c4e509f31bddd6ec13_5fb410854861edca9a030b2e_Group%209%201.svg" loading="lazy" alt="" class="social-icon" /></a>
            <a data-w-id="cfe3af96-bd22-4c2f-86b7-d105af899f0f" href="https://twitter.com/gsdesign7" target="_blank" class="social-box left-social-box w-inline-block"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c451c3f8eaf374fb3b_5fb410854861ed692b030b2d_Group%2010%201.svg" loading="lazy" alt="" class="social-icon" /></a>
        </div>
    </div>
</div>
</div>
</div>