<body>
    <div class="navigation">
        <div class="edit-menu-here">
            <div class="manu-nav-wrap">
                <div class="nav-list">
                    <a data-w-id="8a4666c1-2e20-612d-e977-222826464d68" href="/GSD/Who We Are/about.html" class="nav-link-box w-inline-block">
                        <div class="nav-link-line"></div>
                        <div class="nav-link">Who We Are</div>
                    </a>
                    <a data-w-id="8a4666c1-2e20-612d-e977-222826464d6c" href="/GSD/What We Do/portfolio-2.html" class="nav-link-box w-inline-block">
                        <div class="nav-link-line"></div>
                        <div class="nav-link">What We Do</div>
                    </a>
                    <a data-w-id="8a4666c1-2e20-612d-e977-222826464d70" href="/GSD/Who We Work With/intro.html" class="nav-link-box w-inline-block">
                        <div class="nav-link-line"></div>
                        <div class="nav-link">Who We Work With</div>
                    </a>
                    <a data-w-id="8a4666c1-2e20-612d-e977-222826464d78" href="/Blog/blog.html" class="nav-link-box w-inline-block">
                        <div class="nav-link-line"></div>
                        <div class="nav-link">GS Blog</div>
                    </a>
                    <a data-w-id="8a4666c1-2e20-612d-e977-222826464d74" href="/GSD/Contact/GSD/Contact/book-a-call.html.html" class="nav-link-box w-inline-block">
                        <div class="nav-link-line"></div>
                        <div class="nav-link">Contact</div>
                    </a>
                </div>
                <div class="social-list">
                    <a href="https://www.facebook.com/gsdesign7" class="social-link w-inline-block">
                        <img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c44a77e5ca2e017c67_5fb410854861eda4ec030b2f_Group%202%201.svg" loading="lazy" alt="Facebook" class="sociel-icon" /></a>
                    <a href="#" class="social-link w-inline-block">
                        <img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c4e509f31bddd6ec13_5fb410854861edca9a030b2e_Group%209%201.svg" loading="lazy" alt="" class="sociel-icon" /></a>
                    <a href="#" class="social-link w-inline-block">
                        <img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c451c3f8eaf374fb3b_5fb410854861ed692b030b2d_Group%2010%201.svg" loading="lazy" alt="" class="sociel-icon" /></a>
                </div>
            </div>
        </div>
        <div class="nav-horizontal">
            <a href="/" class="brand w-inline-block">
                <img src="/MEDIA/GSDesign/26.svg" loading="lazy" alt="Logo" class="logo" /></a>
            <a href="/GSD/Contact/book-a-call.html" class="nav-button w-inline-block">
                <div>Get in touch with us!</div>
            </a>
            <div class="nav-line"></div>
        </div>
        <div data-collapse="all" data-animation="over-left" data-duration="300" data-easing="ease-in" data-easing2="ease-out" data-w-id="a6ce49c0-11d6-b578-3bcd-aa179742b105" role="banner" class="nav-vertical w-nav">
            <div class="nav-icons">
                <div class="menu-wrap">
                    <div data-w-id="e7918bc1-c30d-c73b-99e0-67f0c91a0c84" class="menu-button">
                        <div data-w-id="d0a3d795-e6f3-c898-d285-dac799318cdb" class="menu-close">
                            <div class="hamburger">
                                <div class="hamburger-line _4-line"></div>
                                <div class="hamburger-line _5-line"></div>
                            </div>
                        </div>
                        <div data-w-id="09be4e32-f042-dd32-490f-56f748dc40cb" class="menu-open">
                            <div class="hamburger">
                                <div class="hamburger-line _1-line"></div>
                                <div class="hamburger-line _2-line"></div>
                                <div class="hamburger-line _3-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="0feebed9-005c-ba1a-2c10-5fe20b3c4d39" class="search-icon-wrap"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2dd1ca7287d4c8d491e5a_Group%203.svg" loading="lazy" alt="" class="search-icon" /><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/6001a457a5bfbf6704e6b25d_Group%204%20(1).svg"
                        loading="lazy" alt="" class="search-icon hover-icon" /></div>
            </div>
            <div class="nav-text-wrap">
                <p class="nav-text">We are <strong class="white-text">Digital Marketing</strong> Innovators</p>
            </div>
            <div class="mobile-brand">
                <a href="/" class="brand w-inline-block"><img src="/MEDIA/GSDesign/26.svg" loading="lazy" alt="GS Design Logo" class="logo" /></a>
            </div>
            <div data-w-id="b50af7d8-f5b0-eef9-6835-a7dff7b734c2" class="menu-closer"></div>
        </div>
        <div class="search">
            <div class="container search-container w-container">
                <form action="https://google.com" class="search-form w-form"><input type="search" class="text-field search-field w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="" /><input type="submit" value="" class="search-submit w-button" /></form>
            </div>
        </div>
    </div>